@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
body{
    margin: 0;
    padding: 0;
    background-image: url(Images/PrincipalBackground.png);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position-x: left;
}
.content-head{
    height: 50vh;
    opacity: 0;
    transform: translateY(15px);
    margin: 60px 60px 0px 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: aparecer 2s forwards;
    text-align: center;

}
h3{
    font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
    margin: 0;
}
.content{
    opacity: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    animation: 0.4s aparecer 2s forwards;
}
@keyframes aparecer {
    0% { opacity: 0; transform: translateY(15px);}
    100% { opacity: 1; transform: translateY(0px);}
}
@media only screen and (min-width: 0px) and (max-width: 1000px){
    h3{
        font-family: "Bebas Neue", sans-serif;
        font-size: 60px;
        margin: 0;
    }
}