@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
nav{
    margin: 50px 80px 0 80px;

}
.nav-bar{
    display: flex;
    width: 100%;
    height: 6vh;
    background-color:rgb(168, 20, 44);
    align-items: center;
    justify-content: space-between;
    border-radius: 50px 50px 50px 50px;
    border-style: double;
    border-width: thick;
    border-color: white;
}
a{
    text-decoration: none;
    transition: 0.2s;
    color: white;
}
h1{
    margin: 12px;
    font-family: "Bebas Neue", sans-serif;
}
h2{
    margin: 12px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
}
a:hover{
    opacity: 60%;
    transform: scale(1.1);
    transition: 0.2s;
}
.options{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    display: flex;
    animation: rotate 12s linear infinite;
}
.animation{
    animation: scale 2s linear infinite; 
}
.logo img{
    transition: 0.2s;
    width: 15vh;
    border-radius: 100%;
    transform: scale(110%);
}
.logo img:hover{
    transition: 0.2s;
    transform: scale(130%);
}
.rectangle-1{
    display: flex;
    height: 10vh;
    width: 5vh;
}
@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(360deg); 
    } 
}
@keyframes scale{
    0% {
        transform: scale(1.1);
    }
    5%{
        transform: scale(1.07);
    }
    10%{
        transform: scale(1.1);
    }
    85%{
        transform: scale(1.1);
    }
    95%{
        transform: scale(1.13);
    }
    100%{
        transform: scale(1.1);
    }
}
.end-footer{
    background-color: white;
}
footer{
    position: relative;
    width: fit-content;
    margin-bottom: -10px;
    transition: 0.2s;
}
footer:hover{
    transform: scale(1.2);
    transform-origin: left;
    transition: 0.2s;
}
@media only screen and (max-width: 500px) {
    .options {
        max-height: 0;
        width: 10vh;
        justify-self: center;
        z-index: 1;
        overflow: hidden;
        flex-direction: column-reverse;
        background-color: rgb(168, 20, 44);
        position: absolute;
        top: 60px;
        left: 10px;
        right: 10px;
        border-radius: 60px;
        padding: 0; /* Se ajustará dinámicamente */
        text-align: center;
        border: double white 10px;
        transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    
    .options.show {
        max-height: 500px; /* Ajusta según el contenido */
        padding: 10px;
    }

    .logo {
        z-index: 2;
        cursor: pointer;
    }

    .nav-bar {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        justify-content: center;
    }
}
